.app-title {
  text-align: center;
  margin-top: -0.5em;
  margin-bottom: -10em;
}

#input-area {
  margin-top: -1em;
}

.input-group {
  .input-group-addon {
    min-width: 8em;
  }
  width: 50%;
  margin: 0 auto;
}
